@import url(font.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.link__glob{
    padding: 8px 16px;
    background: #00780C;
    border-radius: 88px;
    color: white;
    border: 2px solid #00780C;
    transition: .5s;
}
.link__glob:hover{
    border: 2px solid #00780C;
    background: white;
    color: #00780C;
}
.title__glob{
    color: #00780C;
    padding-bottom: 3px;
}
.box__img{
    background: rgba(0, 255, 68, 0.150);
}